MEILI_SEARCH_KEY=REPLACE_SCOPED_MEILI_SEARCH_KEY
SEARCH_CURSOR_SECRET=REPLACE_RANDOM_32_PLUS_CHARACTER_SECRET
EXPORT_ARTIFACT_ENCRYPTION_KEYS=REPLACE_CANONICAL_EXPORT_KEYRING_JSON
EXPORT_ARTIFACT_READ_ACCESS_KEY_ID=REPLACE_OCI_EXPORT_READER_ACCESS_KEY_ID
EXPORT_ARTIFACT_READ_SECRET_ACCESS_KEY=REPLACE_OCI_EXPORT_READER_SECRET_ACCESS_KEY
ERASURE_REPLAY_LEDGER_LOCATOR_HMAC_KEYS=REPLACE_CANONICAL_LOCATOR_KEYRING_JSON
ERASURE_STATUS_CAPABILITY_HMAC_KEY=REPLACE_CANONICAL_BASE64_32_BYTE_KEY
DEVICE_CHALLENGE_HMAC_KEY=REPLACE_DIFFERENT_CANONICAL_BASE64_32_BYTE_KEY
