NODE_ENV=production
BETA_DATA_CLASSIFICATION=synthetic-only
LOG_LEVEL=info
SERVICE_VERSION=REPLACE_FULL_GIT_COMMIT_SHA
DATABASE_SSL_MODE=verify-full
DATABASE_APPLICATION_NAME=nutrition-ledger-azure-beta
DATABASE_CONNECTION_TIMEOUT_MS=5000
DATABASE_POOL_MAX=10
DATABASE_STATEMENT_TIMEOUT_MS=120000
MEILI_URL=https://meili.internal:8443
EXPORT_ARTIFACT_STORE=s3
EXPORT_ARTIFACT_ENDPOINT=REPLACE_OCI_S3_COMPAT_ENDPOINT
EXPORT_ARTIFACT_REGION=us-ashburn-1
EXPORT_ARTIFACT_BUCKET=REPLACE_OCI_EXPORT_BUCKET
EXPORT_ARTIFACT_DELETE_VERSION_POLICY=latest
EXPORT_ARTIFACT_CURRENT_KEY_ID=REPLACE_EXPORT_KEY_ID
EXPORT_ARTIFACT_READ_SPOOL_DIR=/var/lib/nutrition-tracker/export-read-spool
EXPORT_ARTIFACT_READ_SPOOL_PROTECTION=encrypted_volume
EXPORT_ARTIFACT_READ_MAX_ARTIFACT_BYTES=268435456
EXPORT_ARTIFACT_READ_MAX_CONCURRENCY=1
EXPORT_ARTIFACT_READ_MAX_RESERVED_BYTES=268435456
EXPORT_ARTIFACT_READ_MAX_BYTES_PER_WINDOW=536870912
ERASURE_REPLAY_LEDGER_STORE=s3
ERASURE_REPLAY_LEDGER_ENDPOINT=REPLACE_OCI_S3_COMPAT_ENDPOINT
ERASURE_REPLAY_LEDGER_REGION=us-ashburn-1
ERASURE_REPLAY_LEDGER_BUCKET=REPLACE_OCI_LEDGER_BUCKET
ERASURE_REPLAY_LEDGER_CURRENT_KEY_ID=REPLACE_ERASURE_KEY_ID
ERASURE_REPLAY_LEDGER_LOCATOR_CURRENT_KEY_ID=REPLACE_LOCATOR_KEY_ID
RETENTION_FEATURES_ENABLED=true
RETENTION_EXPORT_SPOOL_DIR=/var/lib/nutrition-tracker/export-spool
RETENTION_EXPORT_SPOOL_PROTECTION=encrypted_volume
RETENTION_EXPORT_SPOOL_MAX_BYTES=268435456
SEARCH_REBUILD_SPOOL_DIR=/var/lib/nutrition-tracker/search-spool
SEARCH_REBUILD_SPOOL_MAX_BYTES=536870912
SEARCH_REBUILD_WORKER_ID=azure-beta-food-search-worker
RETENTION_WORKER_ID=azure-beta-retention-worker
