MEILI_ADMIN_KEY=REPLACE_SCOPED_MEILI_ADMIN_KEY
MEILI_TASK_OBSERVER_KEY=REPLACE_SCOPED_MEILI_TASK_OBSERVER_KEY
EXPORT_ARTIFACT_ENCRYPTION_KEYS=REPLACE_CANONICAL_EXPORT_KEYRING_JSON
EXPORT_ARTIFACT_WRITE_ACCESS_KEY_ID=REPLACE_OCI_EXPORT_WRITER_ACCESS_KEY_ID
EXPORT_ARTIFACT_WRITE_SECRET_ACCESS_KEY=REPLACE_OCI_EXPORT_WRITER_SECRET_ACCESS_KEY
ERASURE_REPLAY_LEDGER_ENCRYPTION_KEYS=REPLACE_CANONICAL_LEDGER_KEYRING_JSON
ERASURE_REPLAY_LEDGER_LOCATOR_HMAC_KEYS=REPLACE_CANONICAL_LOCATOR_KEYRING_JSON
ERASURE_REPLAY_LEDGER_WRITE_ACCESS_KEY_ID=REPLACE_OCI_LEDGER_WRITER_ACCESS_KEY_ID
ERASURE_REPLAY_LEDGER_WRITE_SECRET_ACCESS_KEY=REPLACE_OCI_LEDGER_WRITER_SECRET_ACCESS_KEY
